  /* Styles for the table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #f8f9fa; /* Light grey background */
  }
  
  table th, table td {
    border: 2px solid #ccc; /* Light grey border */
    padding: 8px;
    text-align: left;
  }
  
  table th {
    background-color: #a5a7a8; /* Grey header */
    color: #fff; /* White text */
  }
  
  /* Print button */
  .imprimer-button {
    padding: 8px 16px;
    background-color: transparent;
    color: #cc6060; /* Light red color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .imprimer-button:hover {
    background-color: transparent;
  }
  
  /* Add new student button */
  .add-button {
    padding: 10px 20px;
    background-color: #17a2b8; /* Turquoise button */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #138496; /* Darker turquoise on hover */
  }
  
  /* Add student icon */
  .addEleve {
    width: 90px;
    height: 35px;
    background-color: transparent;
    border: none;
    size: 30px;
    margin-left: 74%;
    cursor: pointer;
  }
  
  label {
    margin-left: 10px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
    label {
      margin-left: 10px;
    }

    select {
      margin-left: 10px;
    }